SERVER_PORT=3000
PUBLIC_BASE_URL=http://localhost:3000

DB_HOST=
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Bangkok

BARCODE_DIR=images/barcodes
BARCODE_WIDTH=1920
BARCODE_HEIGHT=420
